---
import Comments from '@/components/Comments.astro';
import PostContent from '@/components/PostContent.astro';
import PostHeader from '@/components/PostHeader.astro';
import Base from '@/layouts/Base.astro';
import { getPostStaticPaths } from '@/utils/post-paths';

export const getStaticPaths = getPostStaticPaths;

const { entry } = Astro.props;
const metadata = entry.data;
const { Content } = await entry.render();
---

<Base
	head={{
		title: metadata.title,
		description: metadata.description,
		image: `${Astro.url.origin}/posts/${entry.slug}/og-image.png`
	}}
>
	<div class="mx-auto w-full max-w-screen-md">
		<PostHeader
			title={metadata.title}
			tags={metadata.tags}
			pubDate={metadata.pubDate}
			img={metadata.image && { src: metadata.image?.src, alt: metadata.image?.alt }}
		/>
		<PostContent><Content /></PostContent>
		<Comments slug={entry.slug} />
	</div>
</Base>
