---
import { formatDate } from '@/utils/data.util';
import Section from './Section.astro';
import Tags from './Tags.astro';

interface Props {
	title: string;
	tags: string[];
	pubDate: Date;
	img?: {
		src: string;
		alt: string;
	};
}

const { title, pubDate, tags, img } = Astro.props;

const formattedDate = formatDate(pubDate);
---

<Section>
	<div class="flex flex-col items-center">
		<p class="text-balance px-14 pb-4 pt-6 text-center text-4xl font-bold">{title}</p>
		<div class="pb-4">
			<Tags tags={tags} withHref={true} />
		</div>
		<div class="text-sm">
			Escrito em {formattedDate}
		</div>

		{img?.src ? <img src={img.src} alt={img.alt} /> : null}
	</div>
</Section>
